<form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Username</label>
    <input type="text" formControlName="username">
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.required">Le nom est obligatoire</div>
        <div *ngIf="username.errors?.pattern">Premiere lettre en majuscule et min 3 lettres max 11</div> 
    </div>
    <br>
    <label>Password</label>
    <input type="password" formControlName="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.required">Le nom est obligatoire</div>
        <div *ngIf="password.errors?.pattern">Premiere lettre en majuscule et min 3 lettres max 11</div> 
    </div>
    <br>
    <button type="submit" [disabled]="!loginForm.valid">log in</button>
</form>

<div>
    etat : {{ loginForm.status }}
   </div>